.most {
    display: inline-block;
    line-height: 1.2;
    color: #ffffff;
    /*文字色*/
    background-color: rgb(255, 153, 0);
    /*背景色*/
    border: 1px solid rgb(255, 153, 0);
    /*線の太さ・色*/
    border-radius: 8px;
    /*角の丸み*/
}

body {
    background-color: #a2ecff;
    /* line-height: 30px */
    /* 行間 */
}

#qform {
    margin: 2em auto;
    padding: 1em;
    width: 60%;
    /*幅の調節*/
    color: #000000;
    /*文字色*/
    background-color: white;
    /*背景色*/
    border: 1px solid blue;
    /*線の太さ・色*/
    border-radius: 8px;
    /*角の丸み*/
}

h1 {
    border-bottom: 2px solid blue
}

.maintitle {
    text-align: center;
    font-size: 3.4rem;
    font-style: italic;
    border-bottom: 5px solid red;
    /* letter-spacing: .1em;
    color: #fff;
    text-shadow: -4px 3px 0 #fa4141, -8px 6px 0 #000;
    background-color: #ff236c;
     */
}

.center {
    text-align: center;
}

.nagai {
    border: none;
    margin: 0px;
    width: 99%;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

.mizikai {
    border: none;
    margin: 0px;
    width: 10%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

textarea {
    border: none;
    margin: 0px;
    width: 99%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

button {
    border: none;
    height: 30px;
    margin: 10px;
    width: 70px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

footer {
    border-top: 2px solid blue
}