.food img {
    width: 100%;
}

.food {
    position: relative;
}

.food p {
    position: absolute;
    bottom: 10%;
    /*画像の左上に配置*/
    right: 0;
    margin: 0;
    /*余計な隙間を除く*/
    color: white;
    /*文字を白に*/
    background: skyblue;
    /*背景色*/
    font-size: 300%;
    line-height: 1;
    /*行高は1に*/
    padding: 5px 10px;
    /*文字周りの余白*/
}