.side {
    background-color: rgb(231, 231, 231);
    margin-left: 10px;
    /*contentとsideの間の余白*/
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}


/*.content {
    text-align: center;
}
*/

article {
    display: flex;
}

footer {
    margin-top: 20px;
    border-top: 2px solid blue;
}

body {
    width: 1200px;
}

* {
    margin-left: auto;
    margin-right: auto;
}

.side h2 {
    font-size: 120%;
}

.side img {
    float: left;
}

section {
    float: left;
}

footer p {
    margin-left: 10px;
    margin-right: 10px;
}