.side {
    background-color: rgb(231, 231, 231);
    margin-left: 10px;
    /*contentとsideの間の余白*/
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}


/*.content {
    text-align: center;
}
*/

article {
    display: flex;
}